{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1 class="h1">Feed</h1>
<p class="lead mb-4">All feeds collected into one</p>

{% for provider, content in feed.items %}
<div class="row">
    <div class="col-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">
                                    <img class="icon me-2" src={{ provider.icon }}></img> 
                                    {{ provider.name }}
                                </h2>
                            </div>
                            <div class="col text-end">
                                <a href="provider.html?slug={{ provider.slug }}" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-bottom" scope="col">Title</th>
                                <th class="border-bottom" scope="col">Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in content %}
                            <tr>
                                <th class="text-gray-600" scope="row">
                                    {{ c.title }}
                                </th>
                                <td class="fw-bolder text-gray-500">
                                    <div class="">
                                        <a href="{{ c.url }}" target="popup"  onclick="window.open('{{ c.url }}','popup','width=600,height=600'); return false;" class="btn btn-sm btn-secondary">Read</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
